[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
konlpy = "*"
nltk = "*"
requests = "*"
pandas = "*"
matplotlib = "*"
wordcloud = "*"
jpype1 = "*"

[dev-packages]

[requires]
python_version = "3.8"
